.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input[type="checkbox"] {
  appearance: none;
  height: 13px;
  aspect-ratio: 1;
  vertical-align: middle;
}

/* チェックなし */
input[type="checkbox"] {
  background: url(checkbox-off.svg) no-repeat center center / cover;
}

/* チェックあり */
input[type="checkbox"]:checked {
  background: url(checkbox-on.svg) no-repeat center center / cover;
}